/*
.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #00BCD4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
*/

body {
  position: relative;
}

body, html {
	overflow-x: hidden;
	display: flex;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;

	font-family: 'Montserrat', sans-serif;
	font-family: 'Karla', sans-serif;

	color: #212121;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: #212121;
}

.splash-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #b2dfdb;
}

.splash-container img {
	width: 700px;
}

.app-name {
	font-size: 130px;
	color: #00796b;
	font-family: 'Pacifico', cursive;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex: 1;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 140px;
	background-color: #009688;
	color: white;
	font-size: 54px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.content {
	flex: 1;
	overflow: scroll;
}

.icon {
	height: 50%;
	padding-left: 30px;
	padding-right: 30px;
}

.active-icon {
	display: none;
}

#mic-button:active .icon, #mic-button.active .icon {
       display: none;
}

#mic-button:active .active-icon, #mic-button.active .active-icon {
       display: inline-block;
}

.back-icon {
	height: 40%;
	padding-left: 30px;
	padding-right: 30px;
}

.space-holder {
	height: 40%;
	width: 70px;
	padding-left: 30px;
	padding-right: 30px;
}

.list-item {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 220px;
	border-bottom: 1px solid #B6B6B6;
}

.list-photo {
	display: inline-flex;
	justify-content: center;

	height: 220px;
	width: 270px;
	overflow: hidden;
	margin-right: 30px;
}

.list-photo img {
	display: inline-block;
	height: 100%;
}

/* This is the design for something being tapped on */
a .list-item:hover, .on_tap {
	background-color: #E3E7E8;
}

.list-info p {
	margin: 5px;
}

.list-name {
	font-size: 50px;
}

.list-time {
	font-size: 40px;
	color: #727272;
}

.tab-bar {
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 100%;
	height: 140px;
	background-color: #009688;
	color: white;
	box-shadow: 0 -1px 3px rgba(0,0,0,0.12), 0 -1px 2px rgba(0,0,0,0.24);
}

.tab-item img {
	height: 50%;
}


/* FRUIT SALAD RECIPE PAGE STYLE ------------------------------------- */

.cover-photo {
	display: inline-block;
	width: 100%;
}

.cover-photo img {
	width: 100%;
}

.recipe-content {
	margin-left: 30px;
	margin-right: 30px;
}

.title {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.recipe-title {
	display: block;
	font-size: 60px;
	margin-bottom: 20px;
}

.time {
	color: #727272;
}

.serving-size {
	color: #727272;
}

.ingredients-title {
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 36px;
	color: #00bcd4;
}

.ingredients-list {
	list-style-type: none;
	list-style-position: inside;
	padding-left: 0px;
	line-height: 60px;
	margin-top: 10px;;
	margin-bottom: 40px;
	padding-bottom: 50px;
	border-bottom: 1px solid #B6B6B6;
}

.quantity {
	width: 100px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-size: 48px;
}

.instructions-title {
	padding-top: 10px;
	padding-bottom: 30px;
	font-size: 36px;
	color: #00bcd4;
}

.instructions-list {
	list-style-type: none;
	list-style-position: inside;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 40px;
}

.instructions-list li {
	padding-bottom: 30px;
	padding-top: 30px;
	border-bottom: 6px dotted #B6B6B6;
}

.chefs_note {
	margin-bottom: 50px;
}

.timersomthing {
	font-size: 80px;
	text-align: center;
	margin-bottom: 30px;
}

